@model StockDetailsViewModel

@{
	ViewBag.Title = "Home Page";
	ViewBag.CurrentlySelected="Trade";
}

<div class="font-bold mt-52">
	<ul class="flex text-3xl">
		<li class="mr-6">
			<a class="underline-offset-4 dark:text-white underline hover:text-blue-800 text-gray-800" href="/stocksapp/Index">Trade</a>
		</li>
		<li class="mr-6">
			<a class="dark:text-white hover:text-blue-800 text-gray-800" href="/stocksapp/orders">Orders</a>
		</li>
	</ul>
</div>
<div class=" my-5 text-2xl text-gray-600 dark:text-white">Stocks <span class="text-3xl">▸</span> @Model.StockName</div>
<div class="animate-fade-left mt-5">
	<div class="block max-w-fit rounded-lg border border-gray-200 bg-white p-6 shadow dark:bg-gray-800 dark:border-gray-700">
		<div class="flex">
			<div>
				<h5 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">@Model.StockName (@Model.StockSymbol)</h5>
				<p class="text-7xl font-normal text-gray-700 dark:text-gray-400">$ @Model.StockPrice.ToString("N")</p>
			</div>
			<div class="border-l-2 ml-5 h-auto border-white"></div>
			<div class="ml-5">
				<p class="text-2xl font-bold text-gray-500">New Order</p>
				<form action="/stocksapp/index" method="post" class="mx-auto max-w-sm">
					<label for="number-input" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
					<input type="number" id="number-input" name="quantity" placeholder="99999" required class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
					<button type="submit" name="buy-order" value="buy-order-button" class="mb-3 me-2 mt-3 rounded-full bg-green-700 px-5 py-2.5 text-center text-sm font-medium text-white transition delay-150 duration-300 ease-in-out hover:bg-green-800 hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Buy</button>
					<button type="submit" name="sell-order" value="sell-order-button" class="mb-3 me-2 mt-3 rounded-full bg-red-700 px-5 py-2.5 text-center text-sm font-medium text-white transition delay-150 duration-300 ease-in-out hover:bg-red-800 hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Sell</button>

					<input type="hidden" name="StockSymbol" value="@Model.StockSymbol" />
					<input type="hidden" name="StockName" value="@Model.StockName" />
					<input type="hidden" name="Price" value="@Model.StockPrice" />
				</form>
			</div>
		</div>
	</div>
</div>



<input type="hidden" id="StockSymbol" value="@Model.StockSymbol" />
<input type="hidden" id="FinnhubToken" value="@ViewBag.Token" /> 

 @section Scripts {
	<script src="/Scripts/GetStockDetailsScript.js"></script>
}
